<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">About Boracay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="containers">
        <div class="cards">
          <div class="cards-body">
            <img src="/assets/palawan.jpg" alt="Philippines Tourist Spot">
            <div class="text-content">
                <h4 class="cards-title">Puerto Princesa Underground River</h4>
                <p class="cards-text">The Puerto Princesa Underground River in Palawan, Philippines, is one of the world's longest navigable underground rivers and a UNESCO World Heritage Site. Spanning about 8.2 kilometers, the river flows through majestic limestone caves adorned with impressive stalactites, stalagmites, and unique rock formations. The underground chambers are home to a variety of wildlife, including bats and swiftlets, making it a captivating destination for nature enthusiasts and adventurers alike. <br><br>

                    This natural wonder is part of the Puerto Princesa Subterranean River National Park, a protected area dedicated to preserving its rich biodiversity. Visitors can explore a portion of the river through guided boat tours, offering a glimpse into this hidden world while ensuring environmental conservation. Recognized as one of the New Seven Wonders of Nature, the Puerto Princesa Underground River is a must-visit for anyone seeking to experience the Philippines' stunning natural beauty.
            </div>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>