html, body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #ffffff;
    margin-bottom: 0;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
}

.navbar-brand{
    margin-left: 4rem;
}
.navbar-nav{
    margin-right: 5em;
}


.carousel-inner {
    height: calc(100vh - 56px); 
}

.carousel-item img {
    max-height: 100vh; 
    width: 100%; 
    object-fit: cover; 
}


.carousel-caption .btn-view {
    margin-top: 20px;
    color: #327d81;
    border: 1px solid;
    border-color: #327d81;
    width: 100px;
}
.carousel-caption{
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 8px; 
    padding: 20px; 
    color: black; 
    text-align: center; 
    position: absolute; 
    bottom: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%; 
    max-width: 700px; 
}

.carousel-caption .btn-view:hover {
    background-color:#327d81;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: calc(100vh - 56px); 
    padding: 20px;
    margin-top: 20px; 
}

.card {
    width: 50rem; 
    margin: auto; 
    background-color: #f5f6ee;
}

.card-body {
    margin-top: 0; 
}


.containers {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cards {
    max-width: 900px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f5f6ee;
}

.cards-body {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.cards-body img {
    border-radius: 8px;
    width: 400px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 140px;
}

.cards-title {
    margin-top: 0;
}

.cards-text {
    text-align: justify;
}